<div class="container form-identity">
  <div class="row">
    <div class="col-xs-6 col-lg-4">

    <input type="text"
            [(ngModel)]="email"
            name="email"
            placeholder="email"
            required />
    <input type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="password"
            required />

    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-lg-4 btn-group">

      <button class="btn-primary" (click)="handleIdentityRequest('login')">Login</button>
      <button class="btn-primary" (click)="handleIdentityRequest('register')">Register</button>
      <button class="btn-primary">
        demo
      </button>
    </div>
  </div>
</div>

